.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  padding: 20px;
}
.not-found-img {
  width: 70%;
  height: 50%;
  max-width: 500px;
}
.not-found-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .not-found-heading {
    font-size: 36px;
  }
}
.not-found-info {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  max-width: 450px;
}
@media (min-width: 768px) {
  .not-found-info {
    font-size: 26px;
  }
}
