.home-container {
  min-height: 100vh;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
.home-text-container {
  margin-top: 10px;
  padding: 10px;
}
@media (min-width: 567px) {
  .home-text-container {
    padding: 25px;
  }
}
@media (min-width: 768px) {
  .home-text-container {
    margin-top: 60px;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .home-text-container {
    width: 65%;
    padding: 40px;
  }
}
.home-heading {
  font-size: 28px;
  font-family: 'Roboto';
  color: #ffffff;
}
@media (min-width: 567px) {
  .home-heading {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .home-heading {
    font-size: 60px;
  }
}
.home-description {
  font-size: 14px;
  font-family: 'Roboto';
  color: #ffffff;
}
@media (min-width: 567px) {
  .home-description {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .home-description {
    font-size: 30px;
  }
}
.find-jobs-btn {
  background-color: #6366f1;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 567px) {
  .find-jobs-btn {
    font-size: 18px;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .find-jobs-btn {
    font-size: 24px;
    width: 200px;
  }
}
