.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
}
@media (min-width: 567px) {
  .profile-container {
    padding: 20px;
  }
}
.profile-image {
  width: 50px;
  height: 50px;
}
@media (min-width: 567px) {
  .profile-image {
    width: 70px;
    height: 70px;
  }
}
.profile-name {
  font-size: 18px;
  font-family: 'Roboto';
  margin: 8px;
  color: #6366f1;
}
@media (min-width: 567px) {
  .profile-name {
    font-size: 22px;
  }
}
.profile-bio {
  font-size: 12px;
  font-family: 'Roboto';
  margin: 8px;
  color: #2c364c;
}
@media (min-width: 567px) {
  .profile-bio {
    font-size: 16px;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  width: 100px;
  cursor: pointer;
}
