.specific-job-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
}
.each-job-item-specific {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #202020;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 90%;
}
.hr-line-specific {
  border: 1px solid #cbd5e1;
  width: 100%;
}
.first-row-specific {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-img-specific {
  width: 50px;
  height: 60px;
}
@media (min-width: 768px) {
  .company-img-specific {
    width: 70px;
    height: 70px;
  }
}
.first-row-second-column-specific {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .first-row-second-column-specific {
    padding-left: 20px;
  }
}
.job-title-specific {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .job-title-specific {
    font-size: 22px;
  }
}
.rating-container-specific {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating-specific {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  color: #f8fafc;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .rating-specific {
    font-size: 21px;
  }
}
.second-row-specific {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.second-row-each-item-specific {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.description-heading-specific {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Roboto';
  margin: 5px;
}
@media (min-width: 768px) {
  .description-heading-specific {
    font-size: 22px;
    margin-top: 10px;
  }
}
.visit {
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .visit {
    font-size: 23px;
  }
}
.description-visit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  width: 100px;
  cursor: pointer;
}
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  min-width: 60vw;
}
.failure-job-img {
  width: 80%;
  height: 50%;
}
@media (min-width: 768px) {
  .failure-job-img {
    width: 400px;
    height: 350px;
  }
}

.failure-job-heading {
  color: #f8fafc;
  font-size: 18px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .failure-job-heading {
    font-size: 28px;
  }
}
.failure-job-info {
  color: #f1f5f9;
  font-size: 12px;
  font-family: 'Roboto';
}
@media (min-width: 768px) {
  .failure-job-info {
    font-size: 20px;
  }
}
.unordered-skills-container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.similar-job-logo-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  width: 100px;
}
@media (min-width: 768px) {
  .similar-job-logo-name-container {
    width: 180px;
  }
}
.similar-job-logo {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .similar-job-logo {
    width: 40px;
    height: 40px;
  }
}
.similar-job-name {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 12px;
  padding-left: 5px;
}
@media (min-width: 768px) {
  .similar-job-name {
    font-size: 20px;
  }
}
.life-at-company-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .life-at-company-container {
    display: flex;
    flex-direction: row;
  }
}
.life-at-company-img {
  width: 100%;
  height: 50%;
}
@media (min-width: 768px) {
  .life-at-company-img {
    height: 250px;
    width: 250px;
  }
}
.similar-jobs-rendering-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.similar-jobs-heading {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Roboto';
}
.unordered-similar-jobs-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
